<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit="no" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



      <title>Gradebook Application</title>
  </head>



  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
    <a class="navbar-brand" href="/">Business Management (MGMT668)</a>
    </nav>

      <div class="container">
        <br>
          <h1 class="text-center">Welcome to My Gradebook</h1>
            <div class="row justify-content-center align-items-center">

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                         <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
                        <!--    <p>{{message}}</p> -->
                      {% endfor %}
                    {% endif %}
                {% endwith %}
                <br>
            </div>

            <div class="row justify-content-center align-items-center">
                <form action="." method="POST">

                  <div class="form-field">
                        <input class="form-control" type="username" name="username" placeholder="Username">
                  </div>
                  <div class="form-field">
                        <input class="form-control" type="password" name="password" placeholder="Password"><br>
                  </div>
                  <button type="submit" class="btn btn-success ">Log in</button>
                </form>
            </div>
        </div>
    </body>
</html>